body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0; /* Replace with background color */
  font-family: "Montserrat", "Open Sans"; /* font theme is 'Montserrat' & open sans */
  color: rgb(109, 109, 109);
}

h1 h2 h3 {
  font-family: "Montserrat";
}

p ul li {
  font-family: "Open Sans";
}

/* Style the navigation bar */

.hidden {
  display: none;
}

h1 {
  margin-left: 15px;
}

h2 {
  margin-bottom: 5px;
}

a {
  color: #df4646;
}

.mobile-menu {
  list-style-type: none;
  text-align: right;
  margin-top: 10px;
}

.mobile-menu li {
  border-top: solid 2px #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mobile-menu li:last-of-type {
  border-bottom: solid 2px #fff;
}

.mobile-menu li a {
  color: #fff;
  text-decoration: none;
}

.container {
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}

.container p {
  font-size: 14px;
}

nav {
  background-color: red;
  color: #fff;
  padding: 10px 0;

  align-items: center;
}

nav img {
  width: 50px;
  justify-self: end;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
}

menu {
  display: none;
}

nav ul.menu {
  list-style: none;
}

nav ul.menu li {
  display: none;
  margin-right: 15px;
}

nav ul.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav a {
  color: white;
}

/* Navigation Links Hover_ Animation */

/* Stylizing the navigation links */
nav ul.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s, text-decoration 0.3s; /* Added a transition for smooth hover effect */
}

/* Apply the hover effect */
nav ul.menu li a:hover {
  color: #646469; /* Change the text color on hover */
  text-decoration: underline; /* Added underline on hover */
}

.nav {
  padding-top: 30px;
  padding-bottom: 30px;
}

header {
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

header h1 {
  font-size: 36px;
}

header p {
  font-size: 18px;
}

#about h2 {
  margin-top: 60px;
}

#program {
  margin-top: 20px;
}

#program p {
  margin-bottom: 5px;
}

#program a {
  /* color: red; */
}

.program-section {
  background-color: #fff;
  padding: 40px 0;
}

.program-section h2 {
  font-size: 24px;
  font-weight: bold;
}

.program-section p {
  font-size: 16px;
  line-height: 1.5;
}

.program-section a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.program-section a:hover {
  color: #333;
}

/* About Section Background Image */

#about {
  background: url("../images/Red_Background.png") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
  color: #fff;
}

#about h2 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

#about p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

/* Program Section Background Code */
#program {
  /* background: url("../images/background2.png") no-repeat center center fixed;
  background-size: cover; */
  text-align: center;
  padding-top: 40px;
  color: #fff;
}

#program h2 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

#program p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

#program a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

#program a:hover {
  color: red;
}

/* Projects Section Background Code */
#projects {
  background: url("../images/background2.png") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 20px;
  width: inherit;
}

#projects h2 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

#projects p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

/* Style the navigation bar */

/*from testimonials to footer*/

.test_text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 2s;
  padding-bottom: 50px;
}

.test_text.visible {
  opacity: 1;
  transform: translateY(0);
}

.images {
  transition: transform 0.5s, opacity 0.5s;
  width: 100%;
  border-radius: 30px;
}

.images:hover {
  transform: translateX(10px) scale(0.99);
  opacity: 0.9;
}

.img_text {
  margin: auto;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel .grid-con {
  display: flex;
  animation: galleryAnimation 30s infinite linear;
}

@keyframes galleryAnimation {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.carousel img {
  width: 100%;
  height: auto;
}

.carousel:hover .grid-con {
  animation-play-state: paused;
}

#gallery {
  background: url("../images/background2.png") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
  color: #fff;
}

#gallery h2 {
  color: white;
}

.container.hero video {
  width: 400px;
  display: block;
  margin: 0 auto;
  box-shadow: #681212 20px 20px 20px;
}

.portfolio-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 2s;
  padding-bottom: 50px;
}

.portfolio-item.visible {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.portfolio-item a {
  color: #333;
  text-decoration: none;
}
.portfolio-item a:hover {
  text-decoration: underline;
}

/*contact form*/

#form {
  background-size: cover;
  text-align: center;
  padding: 40px 0;
  background-color: rgb(110, 103, 103);
}

.form {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"] {
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #c9c3c3;
}

input[type="email"] {
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #c9c3c3;
}

button[type="submit"] {
  background-color: #ac3030;
  color: white;
  margin-top: 22px;
  padding: 25px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"]:hover {
  background-color: #681212;
}

.fan-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80px;
  }
}

.social {
  width: 80px;
  height: auto;
  mix-blend-mode: overlay;
  color: white;
  padding: 3px;
}

#footer {
  background-size: cover;
  text-align: center;
  /* padding: 40px 0; */
  background-color: rgb(110, 103, 103);
}

#footer h3 {
  color: whitesmoke;
}

.accordion-content .description {
  display: none;
}

.accordion-content .description.show {
  display: block;
}

#testimonials {
  background-color: whitesmoke;
}

/*it ends here*/

/* Default styles for all screen sizes */
.hero-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-container img {
    max-height: 80%;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .hero-container img {
    max-height: 60%;
    object-fit: cover;
  }
}

/* Add this CSS to style your event cards */

#event {
  background: url("../images/white_backgroud.png") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
  color: #fff;
}

#portfolio-list {
  background: url("../images/white_backgroud.png") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
  color: #fff;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.card ul {
  list-style: none;
  padding-left: 0;
}

.card li {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.card:hover {
  transform: translateY(-5px); /* Move the card 5 pixels up on hover */
  transition: transform 0.2s ease; /* Add a smooth transition effect */
  background-color: #b9b8b8;
}

/* Add this CSS to style your event cards */
.p_card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  /* border-radius: 60px; */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.p_card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.p_card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.p_card li {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

#students img {
  /* border-radius: 100px; */
  height: 150px;
}

#students {
  background: url("../images/white_backgroud.png") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
  color: #fff;
}
/* .winner-div {
  width: inherit;
} */

.winner img {
  display: block;
  width: 100%;
  mix-blend-mode: overlay;
}

footer {
  background: url("../images/background2.png") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

@media screen and (min-width: 730px) {
  .container p {
    font-size: 16px;
  }

  nav ul.menu li {
    display: inline;
    font-size: 14px;
  }

  #hammenu {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .menu {
    justify-self: end;
  }

  .info .container {
    text-align: left;
  }

  .container.hero video {
    width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 32px;
  }

  nav ul.menu li {
    font-size: 16px;
    margin-right: 20px;
  }

  .container.hero video {
    width: 1000px;
  }
}
