.events-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  span {
    // font-weight: bold;
    // font-size: 20px;
    padding-top: 20px;
    color: #e02726;
    // transform: scale(1.2);
  }
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  //   padding: 20px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, transform 0.2s ease;
  p,
  span {
    cursor: default;
  }
  p,
  a {
    color: #302f2f;
    margin-bottom: 5px;
    padding: 20px;
    text-decoration: none;
  }
  a:hover {
    color: #e02726;
    //remove if not liked
  }

  &:hover {
    transform: translateY(-5px);
    background-color: #b9b8b8;
    transition: transform 0.2s ease;
  }
}

.card,
ul,
h3 {
  // font-size: 20px;
  color: #302f2f;
  margin-bottom: 5px;
}

// .card {
//   background-color: #fff;
//   border: 1px solid #ddd;
//   border-radius: 10px;
//   padding: 20px;
//   margin-bottom: 20px;
//   border-radius: 5px;
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
//   transition: background-color 0.3s ease;
// }

// /* Responsive adjustment */
// @media (max-width: 768px) {
//     .events-container {
//         grid-template-columns: repeat(2, 1fr);
//         /* 2 columns for tablets */
//     }
// }

// @media (max-width: 480px) {
//     .events-container {
//         grid-template-columns: 1fr;
//         /* 1 column for mobile */
//     }
// }
