.winner img {
    display: block;
    width: 100%;
    mix-blend-mode: overlay;
}

footer {
    // background: url("../images/background2.png") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

.fan-logo {
    img {
        color: white;
    }
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 60px;
        height: 60px;
        padding: 10px;
    }

}

#footer {

    background-size: cover;
    text-align: center;
    /* padding: 40px 0; */
    background-color: #e02726;
}

#footer h3 {
    color: whitesmoke;
}

.accordion-content .description {
    display: none;
}

.accordion-content .description.show {
    display: block;
}