#gallery {
    background: url("../images/background2.png") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 40px 0;
    color: #fff;
}

#gallery h2 {
    color: white;
}

.container.hero video {
    width: 400px;
    display: block;
    margin: 0 auto;
    box-shadow: #681212 20px 20px 20px;
}

.images {
    transition: transform 0.5s, opacity 0.5s;
    width: 100%;
    border-radius: 30px;
}

.images:hover {
    transform: translateX(10px) scale(0.99);
    opacity: 0.9;
}

.img_text {
    margin: auto;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel .grid-con {
    display: flex;
    animation: galleryAnimation 30s infinite linear;
}

@keyframes galleryAnimation {
    0% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(-300%);
    }
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel:hover .grid-con {
    animation-play-state: paused;
}