nav {
  background-color: #e02726;
  color: #fff;
  padding: 10px 0;
  align-items: center;
}

nav img {
  width: 50px;
  justify-self: end;
  padding: 0 auto;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: right;
  font-weight: bold;

  a {
    padding: 10px;
    text-decoration: none;
    transition: ease 0.3s;

    &:hover {
      color: #0b0b0b;
    }
  }

}

.text-center {
  text-align: center;
}

#header1,
#header2,
#header3 {
  span {
    color: #e02726;
  }
}

#header4 {
  color: #e02726;
}

.section-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  color: white;
}

.main-logo {
  padding-left: 30px;
}


body {
  background-color: whitesmoke;
  color: black;
}

header {
  text-align: center;
  padding: 10px 0;
  height: 80vh;
}

header h1 {
  font-size: 36px;
}

header p {
  font-size: 18px;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 32px;
  }
}

html {
  scroll-behavior: smooth;
}

/* ---- reset ---- */
body {
  margin: 0;
  // font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  // vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  /* where 30px is half of your navbar's height */

  background-color: #0b0b0b;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
  filter: invert(100%);
  // z-index: -1;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 30px;
}

h1 {
  margin: 25px;
}

#testimonials,
#students,
#portfolio-list,
.hero {
  h2 {
    text-align: center;
  }
}

.container {
  img {
    filter: drop-shadow(-10px -10px 5px rgba(0, 0, 0, 0.25));
    height: 350px;
  }
}

.container video {
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.25));
  width: 37vw;
  margin-left: -150px;
}

.container {
  .thanks {
    padding-top: 10px;
    text-align: right;
  }
}


@media screen and (max-width: 1200px) {
  .container video {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.25));
    width: 45vw;
    margin-left: -100px;
  }

  .container img {
    height: 200px;
  }
}

@media screen and (max-width: 730px) {
  .container video {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.25));
    width: 80vw;
    margin: auto;
  }

  .container img {
    height: 250px;
  }
}

.bold {
  font-weight: bold;
}

.bottomin a.bold {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: #e02726;
}