#projects {
    // background: url("../images/background2.png") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 20px;
    width: inherit;
}

.grid-con h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

#projects p {
    font-size: 16px;
    line-height: 1.5;
}

#portfolio-list {
    // background: url("../images/white_backgroud.png") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 40px 0;
    color: #fff;
}

p {
    text-align: left;
}

img {
    height: 350px;
}