#program {
    margin-top: 20px;
}

#program p {
    margin-bottom: 5px;
}

#program a {
    color: red;
}

.program-section {
    background-color: #fff;
    padding: 40px 0;
}

.program-section h2 {
    font-size: 24px;
    font-weight: bold;
}

.program-section p {
    font-size: 16px;
    line-height: 1.5;
}

.program-section a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.program-section a:hover {
    color: #333;
}

#program {
    /* background: url("../images/background2.png") no-repeat center center fixed;
    background-size: cover; */
    text-align: center;
    padding-top: 40px;
    color: #fff;
}

#program h2 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

#program p {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

#program a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

#program a:hover {
    color: red;
}

/* Projects Section Background Code */

@media screen and (min-width: 730px) {
    .info .container {
        text-align: left;
    }

    .container.hero video {
        width: 700px;
    }
}

@media screen and (min-width: 1200px) {
    .container.hero video {
        width: 1000px;
    }
}