.p_card {

    margin: 20px;
    padding: 20px;

    /* border-radius: 60px; */
    transition: background-color 0.3s ease;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: 26px 26px 27px #e9e6e6,
        -26px -26px 27px #ffffff;
}

.p_card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    flex-wrap: wrap;
}

.p_card a {
    text-decoration: none;
    text-align: center;
    flex-wrap: wrap;
}

.p_card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}

.p_card li {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

#students img {
    /* border-radius: 100px; */
    height: 150px;
}

#students {
    // background: url("../images/white_backgroud.png") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 40px 0;
    color: #fff;
}