.p_card {

    margin: 20px;
    padding: 20px;
    transition: background-color 0.3s ease;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: 26px 26px 27px #e9e6e6,
        -26px -26px 27px #ffffff;
    flex-wrap: wrap;
    justify-content: center;
}

.p_card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    flex-wrap: wrap;
    font-weight: 600;
}


.p_card a {
    text-decoration: none;
    text-align: center;
    color: rgb(53, 52, 52);
    transition: transform 0.3s ease;
    margin: 5px;
    display: inline-block;

}

.p_card a:hover {
    transform: scale(1.3);
    color: rgb(150, 41, 41);

}

.p_card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}



.p_card li {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

#students img {
    /* border-radius: 100px; */
    height: 150px;
}

#students {
    // background: url("../images/white_background.png") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 40px 0;
    color: #fff;
}