.test_text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 2s;
    padding-bottom: 50px;
}

.test_text.visible {
    opacity: 1;
    transform: translateY(0);
}


.test {
    padding: 30px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 2px rgb(167, 167, 167);
    border-right: 2px rgb(167, 167, 167);
    border-bottom: 2px rgb(167, 167, 167);
    border-left: 2px rgb(167, 167, 167);
    box-shadow: 5px 6px 2px rgb(180, 180, 180);
    border-radius: 18px 10px 55px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

}

.test h3 {
    margin-bottom: 30px;
    font-weight: bold;
}